body {
  background-image: url(https://i.ytimg.com/vi/05rqpxZqaQg/maxresdefault.jpg);
}
header, .about, .experience {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 33pt;
  text-align: center;
  color: #D56BFF;
}
.experience {
  background-image: url(http://allforchildren.ru/why/illustr/why96-2.gif);
  position: relative;
  width: 204;
  height: 208;
  color: black;
  font-size: 22pt;
  text-align: center;
  margin-left: 500;
}
.inner{
  margin: auto;
  position: absolute;
  top: 50%;
  margin-top: -1.1em;
}
.about{
  color: #21F500;
}
